<div class="row">
  <div class="col-12 col-md-12 py-3">
    <div>
      <h3>Search:</h3>
      <input
        #search
        class="form-control"
        type="text"
        placeholder="Search here"
      />
    </div>

    <div class="mt-3">
      <h3>Sort by:</h3>

      <div class="float-lg-end">
        <p class="mb-1">
          Name
          <span class="float-right">
            <i
              class="fas fa-sort-amount-up-alt pointer pl-3 font-14"
              (click)="sortBy('name', 'asc')"
            ></i>
            <i
              class="fas fa-sort-amount-down-alt pl-3 pointer font-14"
              (click)="sortBy('name', 'desc')"
            ></i>
          </span>
        </p>
        <p class="mb-1">
          Tower
          <span class="float-right">
            <i
              class="fas fa-sort-amount-up-alt pointer pl-3 font-14"
              (click)="sortBy('buildingTowers', 'asc')"
            ></i>
            <i
              class="fas fa-sort-amount-down-alt pl-3 pointer font-14"
              (click)="sortBy('buildingTowers', 'desc')"
            ></i>
          </span>
        </p>
        <p class="mb-1">
          Property Type
          <span class="float-right">
            <i
              class="fas fa-sort-amount-up-alt pointer pl-3 font-14"
              (click)="sortBy('propertyType', 'asc')"
            ></i>
            <i
              class="fas fa-sort-amount-down-alt pl-3 pointer font-14"
              (click)="sortBy('propertyType', 'desc')"
            ></i>
          </span>
        </p>
        <p class="mb-1">
          Min Price
          <span class="float-right">
            <i
              class="fas fa-sort-amount-up-alt pointer pl-3 font-14"
              (click)="sortBy('minPrice', 'asc')"
            ></i>
            <i
              class="fas fa-sort-amount-down-alt pl-3 pointer font-14"
              (click)="sortBy('minPrice', 'desc')"
            ></i>
          </span>
        </p>
        <!-- <p class="mb-1">
          Bed Room 
          <span class="float-right">
            <i class="fas fa-sort-amount-up-alt pointer pl-3 font-14" (click)="sortBy('bedRooms','asc',true)"></i>
            <i class="fas fa-sort-amount-down-alt pl-3 pointer font-14" (click)="sortBy('bedRooms','desc',true)"></i>
          </span>
        </p>
        <p class="mb-1">
          Bathroom 
          <span class="float-right">
            <i class="fas fa-sort-amount-up-alt pointer pl-3 font-14" (click)="sortBy('bathRooms','asc',true)"></i>
            <i class="fas fa-sort-amount-down-alt pl-3 pointer font-14" (click)="sortBy('bathRooms','desc',true)"></i>
          </span>
        </p>
        <p class="mb-1">
          Half Bathroom
            <span class="float-right">
                <i class="fas fa-sort-amount-up-alt pointer pl-3 font-14" (click)="sortBy('halfBathroom','asc',true)"></i>
                <i class="fas fa-sort-amount-down-alt pl-3 pointer font-14" (click)="sortBy('halfBathroom','desc',true)"></i>
            </span>
        </p> -->
      </div>
    </div>

    <div class="mt-3">
      <h3>Multiple Select:</h3>

      <ng-select [multiple]="true" [(ngModel)]="selectedConfigurations">
        <ng-option disabled value="Configuration"
          >Choose Configuration</ng-option
        >
        <ng-option *ngFor="let item of configurations" [value]="item">{{
          item
        }}</ng-option>
      </ng-select>

      <button
        class="btn btn-primary btn-md mt-3"
        (click)="fetchSelectedValue()"
      >
        Submit
      </button>
    </div>

    <div class="mt-3">
      <h3>Min Price Filter</h3>

      <div class="d-flex">
        <input
          class="form-control w-75"
          type="number"
          min="1"
          placeholder="Enter Min Price"
          [(ngModel)]="minPrice"
        />
        <button class="btn btn-sm btn-primary w-25 ml-2" (click)="filter()">
          Filter
        </button>
      </div>
      <p class="mt-2 font-weight-bold">
        Min Price
        <span
          class="float-right font-weight-normal text-danger pointer"
          (click)="resetFilter()"
          >Reset</span
        >
      </p>
    </div>
  </div>
</div>
