<div class="container-fluid">
    <div class="row mx-0">
        <div class="col-3 col-md-3">
            <app-filter 
            [data]="buildingData"
            (eventEmitter)="fetchFilteredData($event)"
            ></app-filter>
        </div>
        <div class="col-9 col-md-9">
            <div class="row">
                <div class="col-12 col-md-4 py-3"
                *ngFor="let item of updatedBuildingData">
                    <app-building-card [data]="item"></app-building-card>
                </div>
            </div>
        </div>
    </div>
</div>